<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <title>Mon Annuaire Libre</title>
</head>

<style>
	body {
		margin: 30px 0;
	}
</style>


<body>

<div class="page-header">
  <h1>Mon Annuaire Libre</small></h1>
</div>

<div class="container">
	<div class="row">
